/* CSS */
body {
   margin: 0;
   padding: 0;
   font-size: 1.1em;
   background-color: #94d7e3;
}
h1 {
   font-family: Futura, Helvetica, Arial, 'sans-serif';
   margin-top: 0;
}
#wrapper {
   margin: 0 auto;
   padding: 10px 30px;
   width: 500px;
   background-color: white;
   height: 100%;
   border-left: 2px solid black;
   border-right: 2px solid black;
   position: relative;
}
img {
   border: 2px solid black;
   display: block;
}
h1 + h2 {
   color: red;
}
#feature {
   background-color: yellow;
   padding-top: 10px;
}
img[src="images/pig.png"] {
   display: block;
}
img[src="images/cow.png"] {
   position: absolute;
   transform: rotate(+8deg); 
   z-index: 2; 
   top: -310px; 
   left: 200px;
}
#wrapper p:nth-of-type(3) { 
   margin-top: -200px; 
}